<div class="results_box">
<% if(!relays) {%>
    <% if(error == 0) {%>
    <div class="alert">
        <strong>No Results found!</strong><p>
    No Tor relays matched your query :(</p>
    </div>
    <% } else if (error == 2) {%>
    <div class="alert alert-error">
        <strong>Backend error!</strong>
        <p>Atlas is unable to get a response from its backend server. This
        probably means that the backend server is unavailable right now. This
        can also happen, however, if you did not format your query correctly.
        Please have a look at <a href="https://atlas.torproject.org/#about">this
        page</a> that explains what type of search queries are supported by
        Atlas.</p>
    </div>
    <% } else if (error == 3) {%>
    <div class="alert alert-error">
        <strong>JavaScript Error!</strong><p>There is a problem with your javascript environment, you may have noscript enabled on the remote onionoo backend. Try temporarily allowing noscript to connect to the backend IP address. If the problem persits consult <a href="https://trac.torproject.org/">the bugtracker.</a></p>
    </div>
    <% } %>
<% } else { %>
    <% if (relays.length >= 40) {%>
    <div class="alert alert-warning">
        <strong>Possibly too many matches!</strong><p>The current version of
        Atlas does not support a result set greater than 40 and only displays
        the first 40 hits. This is due to some performance issues in doing
        multiple parallel connections in javascript. Future versions will
        hopefully manage to overcome this issue.</p>
    </div>
    <% } %>
<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped" id="torstatus_results">
	<thead>
		<tr>
			<th>Nickname</th>
			<th>Bandwidth</th>
			<th>Uptime</th>
			<th>Country</th>
			<th>IP</th>
			<th>Flags</th>
			<th>ORPort</th>
			<th>DirPort</th>
			<th>Type</th>
		</tr>
	</thead>
	<tbody>
<% var i = 0; %>

<% _.each(relays, function(relay) { %>
		<% if (i > 40) return true; %>
		<% if (i % 2 == 0 ) { %>
			<tr class="even">
		<% } else { %>
			<tr class="odd">
		<% } %>
			<td>
            <a href="#details/<%= relay.get('fingerprint') %>">
            <%= _.escape(relay.get('nickname')) %>
            </a>
            </td>
			<td><span data-filter="<%= relay.get('bandwidth') %>"><%= relay.get('bandwidth_hr') %></td>
			<td>
            <span data-hidden="<%= relay.get('last_restarted') %>" title="<%= relay.get('uptime_hrfull') %>" data-filter="<%= relay.get('uptime') %>" class="uptime">
            <%= relay.get('uptime_hr') %>
            </span>
            </td>
			<td>
            <% if ( relay.get('country')) { %>
            <img class="inline country" title="<%= relay.get('countryname') %>" src="img/cc/<%= relay.get('country') %>.png"/>
            <% } %>
            </td>
			<td><%= relay.get('or_address') %></td>
			<td>
            <% _.each(relay.get('flags'), function(flag) { %>
            <img class="inline flags" rel="tooltip" src="img/flags/<%= flag[1] %>.png" title="<%= flag[0] %>"/>
            <% }); %>
            </td>
			<td><%= relay.get('or_port') %></td>
			<td><%= relay.get('dir_port') %></td>
			<td>
				<% if (relay.get('is_bridge')) { %>
				Bridge
				<% } else { %>
				Relay
				<% } %>
			</td>
            </tr>
	<% i += 1; %>
<% }); %>
	</tbody>
	<tfoot>
	<tr>
		<th>
            <input type="text" id="nickname" name="nickname" placeholder="Nickname" class="search_init">
        </th>
		<th>
			<input type="text" id="bw_from" name="bw_from" placeholder="From (KB/s)" class="search_init span1"><input type="text" id="bw_to"name="bw_to" placeholder="To (KB/s)" class="search_init span1">
		</th>
		<th>
			<input type="text" id="uptime_from" name="uptime_from" placeholder="From (days)" class="search_init span1">
            <input type="text" id="uptime_to" name="uptime_to" placeholder="To (days)" class="search_init span1">
		</th>
	    <th>

            <input type="text" id="country" name="country" placeholder="Country" class="search_init span1 typeahead">
        </th>

		<th>
            <input type="text" id="or_address" name="or_address" placeholder="IP address" class="search_init">
        </th>
		<th>
            <input type="text" id="flags" name="flags" placeholder="Flags" class="search_init">
        </th>
		<th>
            <input type="text" id="or_port" name="or_port" placeholder="ORPort" class="search_init span1">
        </th>
		<th>
            <input type="text" id="dir_port" name="dir_port" placeholder="DirPort" class="search_init span1">
        </th>
		<th>
            <input type="text" id="type" name="type" placeholder="Type" class="search_init span1">
        </th>
	</tr>
	</tfoot>
</table>
<% } %>
</div>
